<router-outlet></router-outlet>
<div class="contenedor">
    <div class="elements">
      <form [formGroup]="facturaForm"
      #formFacturas="ngForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>cliente</mat-label>
          <input 
          type="text"
          matInput 
          formControlName="cliente"
          [matAutocomplete]= 'auto'
          required>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getname">
            <mat-option *ngFor="let usuario of listaUsuariosFilter" [value]="usuario">
              {{usuario.nombres}}
            </mat-option>
          </mat-autocomplete>
            </div>
         <mat-form-field class="example-full-width">
            <mat-label>Tipo Plan</mat-label>
            <mat-select
            required
              formControlName="plan"
              name="fuente">
              <mat-option *ngFor="let plan of listaPlanes" [value]="plan.idPlan">
                {{ plan.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
         <div style="justify-content: center;">
            <mat-form-field appearance="fill">
              <mat-label>observacion</mat-label>
              <input matInput formControlName="observacion">
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha de Inicio</mat-label>
            <input
              matInput
               [matDatepickerFilter]="myFilter"
               [matDatepicker]="pickerFechaInicio"
              formControlName="fechaInicio"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaInicio></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Fin</mat-label>
            <input
              matInput
               [matDatepickerFilter]="myFilter"
               [matDatepicker]="pickerFechaFin"
              formControlName="fechaFin"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaFin></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Pago</mat-label>
            <input
              matInput
               [matDatepickerFilter]="myFilter"
               [matDatepicker]="pickerFechaPago"
              formControlName="fechaPago"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="pickerFechaPago"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaPago></mat-datepicker>
          </mat-form-field>

          <div style="justify-content: center;">
            <mat-form-field appearance="fill">
              <mat-label>cantidadClases</mat-label>
              <input matInput type="number" formControlName="cantidadClases" required>
            </mat-form-field>
          </div>

          <div style="justify-content: center;">
            <mat-form-field appearance="fill">
              <mat-label>recibidoPor</mat-label>
              <input matInput formControlName="recibidoPor" required>
            </mat-form-field>
          </div>

          <div style="justify-content: center;">

            <mat-form-field class="example-full-width">
              <mat-label>Tipo Pago</mat-label>
              <mat-select
              required
                formControlName="tipoPago"
                name="tipoPago">
                <mat-option *ngFor="let pago of tipoPago" [value]="pago">
                  {{ pago }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <div class="boton">
          <div style="padding: 2mm;">
            <button mat-raised-button color="primary"
            [disabled]="formFacturas.invalid"
            (click)="registrarFactura()">crear Factura</button></div>
        </div>
      </form>
    </div>
  </div>