<router-outlet></router-outlet>

<mat-grid-list cols="5" rowHeight="70px">
    <mat-grid-tile [colspan]=1 [rowspan]=2>
        logo
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=2>
        info basica
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 >
        Factura No
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 >
        Fecha
    </mat-grid-tile>
    <mat-grid-tile [colspan]=5 [rowspan]=1 >
    </mat-grid-tile>
    <mat-grid-tile [colspan]=5 [rowspan]=1 >
        detalle del plan
    </mat-grid-tile>
    <mat-grid-tile [colspan]=5 [rowspan]=1 >
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 >
        cantidad
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=1 >
        descripción
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 >
        valor Unitario
    </mat-grid-tile>
    <mat-grid-tile [colspan]=5 [rowspan]=1 >
        Observaciones
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1 >
        Total
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 >
        Valor
    </mat-grid-tile>
</mat-grid-list>